@import '../../global.scss';
.container{
    background-color: #CBE4DE;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;

}
.tags{
    color: black;
    width: 300px;
    height: 40px;
    background-color: #C7E8CA;
    border: 0px solid white;
    border: 1px solid #0E8388;
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    @include mobile{
        width: 200px;
    }
    
}
.tags::-webkit-scrollbar {
    width: 10px;
    height: 50px;
    
  }
  .tags::-webkit-scrollbar-thumb {
    background:#009dae;
    ;
  }
  
  /* Track */
  .tags::-webkit-scrollbar-track {
    background: #CBE4DE;
  }
.button{
    color: black;
    width: 300px;
    height: 40px;
    background-color: #C7E8CA;
    border: 1px solid #0E8388;
  
    border-radius: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    @include mobile{
        width: 200px;
    }
    
}
.button:hover{
    
        background-color:#0E8388;
       color: white;
    
}
.tags:hover{
    
    background-color:#0E8388;
   color: white;

}
img{
    height: 400px;
    width: 400px;
    @include mobile{
        height: 300px;
    width: 250px;
    }
    border:2px dashed #0E8388;
  }
 